html, body {

  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  color: rgba(0,0,0,.87);
  background-color: rgb(255,250,205);
}

.contain{
  margin: 0;
  padding:0;
}

.no-margin {
  margin: 0;
}

.center {
  text-align: center;
}

.mt16 {
  margin-top: 16px;
}
